.navbar {   
        width: 100%;
        height: 70px;    
        display: flex;   
        align-items: center;   
        padding: 10px;
        background-color: #ffffff;
        justify-content: space-around;
        font-size: 14px;
        border-top: 1px solid #ddd;
        
        position: fixed;
        bottom: 0;
        
    }

    .navbar button span {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1px;
        
    }
    .p {
        color: black;
        font-size: 14px;
        margin-top: 4px;
        font-weight: 500;
    }

    .bg{

        width: 60px;
        height: 30px;
        background: lab(71.71% -72.55 69.6 / 0.207);
        border-radius: 20px;
    }